* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('images/background.png');
  background-size: 100%;
  color: white;
  font-family: Courier New , Courier , monospace;
}

h1 {
  font-size: 60px;
  padding: 40px;
  text-align: center;
}

h2 {
  border: 3px solid white;
  border-radius: 30px;
  font-size: 40px;
  font-weight: 600;
  padding: 20px;
  text-align: center;
}

section p {
  font-size: 25px;
  padding: 15px;
}

.planet-card {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  width: 130px;
}

.planet-card p {
  font-size: 30px;
}

.container-planet {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 20px;
}

.mission-card {
  border: 3px solid white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 400px;
}

.container-mission {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.mission-name {
  border-bottom: 3px solid white;
  font-size: 25px;
  font-weight: 600;
  padding: 20px;
}


.Mercúrio, .Marte {
  width: 70px;
}

.Vênus {
  width: 100px;
}

.Terra {
  width: 150px;
}

.Júpiter {
  margin-right: 20px;
  width: 350px;
}

.Saturno {
  margin-left: 20px;
  width: 350px;
}

.Urano {
  width: 180px;
}

.Netuno {
  width: 150px;
}
